{% extends 'base.html' %}
{% block content_title %}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {% load static %}

    <div class="container ">
        <div class="columns">
            <div class="column is-one-third has-background-grey-light">
                <form class="box has-background-primary">
                {% for field in form %}
                    <div class="field">
                        <label class="label">{{ field.label }}</label>
                        <div class="control">
                            <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
                            {{ field }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <button class="button" value="register">Zalaguj</button>
                </form>


                {% if messages %}
                    <div class="container">
                        <article class="message">
                            {% for message in messages %}
                                <div class="message-body">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </article>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="column">
            <figure class="image is-3by2">
                <img src="{% static 'index.jpg' %}" alt="school">
            </figure>
        </div>
    </div>


</form>
{% endblock %}
